.container {
  padding: 32px 16px;
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.WelcomeCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.QuestionAccordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
