.fv {
  height: 100dvh;
  color: var(--White000);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  .upper {
    z-index: 1;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    padding: 40px 16px;
    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 130%;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2em;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
  .image {
    width: 100vw;
  }
}
