.arrow {
  display: inline-block;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  padding: 4px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
  vertical-align: middle;
}

.arrow.open {
  transform: rotate(-135deg);
}
