.button2 {
  background-color: var(--White000);
  border: 0.5px solid var(--White300);
  color: var(--Black100);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  border-radius: 12px;
  height: 56px;
  max-width: 276px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  .icon {
    height: 56px;
    width: 72px;
    border-right: 0.5px solid var(--White300);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    padding: 20px auto;
    width: 180px;
  }
  .arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
}
