.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
}

.fill {
  &:hover {
    opacity: 0.8;
  }
}

.outline {
  border-style: solid;
  border-width: 1px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.primary {
  background-color: #0075c2;
  color: var(--White000);

  &.outline {
    background-color: transparent;
    border-color: #0075c2;
    color: var(--White000);
  }
}

.secondary {
  background-color: var(--Secondary000);
  color: var(--White000);

  &.outline {
    background-color: transparent;
    border-color: var(--Secondary000);
    color: var(--White000);
  }
}

.tertiary {
  background-color: var(--White000);
  color: #0075c2;

  &.outline {
    background-color: transparent;
    border-color: var(--White000);
    color: var(--White000);
  }
}
