.card {
  border-radius: 12px;
  padding: 32px 24px 16px;
  background-size: cover;
  color: var(--White000);
  .textContainer {
    h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }
    p {
      font-weight: 500;
    }
  }
  .arrowCircle {
    height: 48px;
    width: 48px;
    border-radius: 999px;
    border: 1px solid  var(--White000);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
  }
  &.engineer {
    background-image: url('/images/job-engineer.webp');
  }
  &.designer {
    background-image: url('/images/job-designer.webp');
  }
  &.career-adviser {
    background-image: url('/images/job-career-adviser.webp');
  }
}
