.fv {
  height: 100dvh;
  color: var(--White000);
  background-color: var(--Black100);
  .upper {
    z-index: 1;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    padding: 40px 16px;
    h1 {
      line-height: 130%;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2em;
    }
  }
  .image {
    object-fit: cover;
    position: absolute;
    width: auto !important;
    z-index: -1;
  }
}
