.container {
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid var(--White300);
  &.noBorder {
    border-bottom: none;
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button {
  color: var(--Black200);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 16px 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  .iconContainer {
    flex-shrink: 0;
  }
}

.accordion {
  overflow: hidden;
}

.panel {
  padding: 0 8px 8px 8px;
  transition: max-height 0.3s ease-out;
  p {
    color: var(--Black300);
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 12px;
  }
}
