.welcomeCard {
  border-radius: 8px;
  margin: 0 16px;
  padding: 24px 24px 148px 24px;
}

.link {
  text-decoration: none;
  padding: 16px 0 16px 16px;
}

.company {
  background-color: var(--Primary000);
  color: var(--White000);
}

.people {
  background-color: var(--Secondary000);
  color: var(--White000);
}

.culture {
  background-color: var(--White000);
  color: var(--Black100);
}
